body {
	background: #f0f2f5;
}
.header {
	display: flex;
	justify-content: space-between;
	color: wheat;
}
#logo img {
	position: relative;
	height: 34px;
	margin-right: 16px;
}
.ant-switch {
	background-color: rgba(100, 100, 100, 0.85);
}
.ant-switch.ant-switch-checked {
	background-color: #1890ff;
}

.slider_container {
	/* width: 1000px; */
	margin: 0 auto;
}

/* For demo */
/* .slick-list {
	margin: 0 -10px;
} */
.ant-carousel .slick-slide {
	text-align: center;
	min-height: 600px;
	line-height: 16px;
	background: #f9f9f9;
	/* background: #364d79; */
	overflow: hidden;
	/* padding: 10px 20px; */
	/* margin: 0 -10px; */
	width: 100%;
}
.ant-carousel .slick-slide img {
	/* max-width: 900px; */
}
.ant-carousel .slick-slide h3 {
	color: #fff;
}
.slick-dots li {
	background: #364d79;
	/* height: 20px !important; */
}

td {
	padding: 10px;
}

.ant-progress-line {
	margin-bottom: 8px;
}

.ant-carousel .slick-slide {
	text-align: unset;
}

.accordion img {
	max-width: 100%;
}

.ant-layout-sider {
	background-color: #fff;
}
.ppt img{
	width: 100%;
}